@import '../mixins';

.root__container {
  @include flex();
  column-gap: 0;
  width: 100vw;
  height: 100vh;
}

.root__background {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -10;
  overflow-x: hidden;
}

.root__app__height {
  height: calc(100vh - 30px);
}

.root__app__border {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media (min-width: 1024px) {
  .root__container {
    column-gap: 5px;
  }
}

@media (min-width: 768px) {
  .root__container {
    padding: 10px 5px;
    box-sizing: border-box;
  }
}
