.message-container {
    margin-block: 20px;
}

.message-body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    max-width: 90%;
    min-height: 80px;
    position: relative;
    border-radius: 25px 25px 25px 0;
    padding: 10px;
    line-break: anywhere;
    box-sizing: border-box;
    padding-inline: 20px;
    color: white;
}

.message-body-receive {
    background-color: rgba(72, 72, 72, 0.6);
    margin-left: 10px;
}

.message-body-send {
    background-color: rgba(66, 98, 255, 0.45);
    direction: ltr;
    margin-right: 10px;
}

.message-data {
    position: absolute;
    bottom: -15px;
    right: 20px;
    font-size: 10px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .message-body {
        max-width: 70%;
    }
}