.message {
    margin-block: 50px;
}

.message__body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    max-width: 90%;
    min-height: 80px;
    padding: 20px 10px;
    position: relative;
    border-radius: 25px 25px 25px 0;
    color: white;
    line-break: anywhere;
    box-sizing: border-box;
}

.message__body--receive {
    margin-left: 10px;
    background-color: rgba(72, 72, 72, 0.6);
}

.message__body--send {
    background-color: rgba(66, 98, 255, 0.45);
    direction: ltr;
    margin-right: 10px;
}

.message__content {
    position: absolute;
    bottom: -15px;
    right: 20px;
    font-size: 10px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .message__body {
        max-width: 70%;
    }
}