.side-bottom-container {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-top: 10px;
    margin-right: 35px;
}

.side-bottom-image {
    width: 50px;
    height: 50px;
}

.side-bottom-icon {
    width: 50px;
    color: white;
}