.messaging-panel-root {
    flex-basis: 100%;
    display: flex;
    box-sizing: border-box;
    padding-block: 0;
    flex-direction: column;
    justify-content: center;
}

.messaging-panel-container {
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #333333;
    flex-basis: 93%;
}

.messages-container {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
}

@media (min-width: 1024px) {
    .messaging-panel-root {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .messaging-panel-root {
        flex-basis: 67%;
        padding-right: 0;
    }
    .messaging-panel-container {
        border-radius: 30px;
        margin-bottom: 15px;
    }
}
