@import '../mixins';

.form__root {
    @include flex(row, space-around, center);
    width: 100%;
    height: 100vh;
}

.form__container {
    @include flex(column, space-around, center);
    width: 600px;
    background-color: white;
    box-sizing: border-box;
    padding-inline: 5%;
    overflow: hidden;
    white-space: nowrap;
}

.form__grid {
    @include flex(column);
    width: 100%;
    row-gap: 10px;
}

.form__logo__container {
    @include flex(row, center);
    margin-bottom: 50px;
    font-family: Debby Script, serif;
    font-size: 70px;
}

.form__logo__image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.form__title {
    font-size: 30px;
    font-family: 'Segoe UI Light', serif;
    margin-inline: auto;
}

.MuiInputBase-root {
    width: 100%;
}

.form-btn-section {
    @include flex(column);
    width: 100%;
    row-gap: 15px;
}

.lottie__container {
    width: 450px;
    height: 450px;
    display: none;
}

@media (min-width: 1200px) {
    .lottie__container {
        display: block;
    }
}

@media (min-width: 1024px) {
    .form__grid {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: -20px;
    }

    .double-span {
        grid-column: span 2;
    }
}