.login-background {
    min-width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.login-root-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-width: 370px;
    height: 45vh;
    min-height: 300px;
    max-height: 500px;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    padding-inline: 5%;
    overflow: hidden;
    white-space: nowrap;
}

.login-title {
    font-size: 30px;
    font-family: 'Segoe UI Light', serif;
    margin-inline: auto;
}
.MuiInputBase-root {
    width: 100%;
    max-width: 100%;
}

.login-btn-section {
    display: flex;
    margin-bottom: 10px;
}

.login-btn {
    padding: 6px 20px;
    margin-right: 1px;
}

@media (max-width: 768px) {
    .login-form-container {
        min-height: 430px;
        height: 55vh;
    }

    .login-signUp-Window {
        max-height: 400px;
    }

    .btn-section {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 0;
    }
}