body {
    background-color: #460067;
}

.loading-root {
    display: flex;
    flex-direction: column;
    height: 95vh;
    font-size: 25px;
    font-family: "Segoe UI Light", sans-serif;
    color: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.loading-text {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.loading-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
