.dialog__header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.dialog__header__image {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow-x: hidden;
    background-color: gray;
}

.dialog__profile__image {
    display: block!important;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.dialog__profile__info {
    display: flex;
    margin-left: 12px;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI Light', serif;
}

.dialog__sections {
    background-color: rgba(150, 150, 150, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.dialog__details {
    display: flex;
    flex-wrap: nowrap;
    margin-block: 10px;
    font-size: 15px;
}

.dialog__member__content {
    font-size: 15px;
    font-family: Segoe UI Light, sans-serif;
    margin-left: 10px;
    color: white;
}

.dialog__member__image {
    display: block!important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}