.root-container {
    display: flex;
    column-gap: 0;
    width: 100vw;
    height: calc(100vh - 30px);
    padding-inline: 15px;
}

.root-background {
    width: 100vw;
    height: calc(100vh - 30px);
    position: absolute;
    z-index: -10;
    overflow-x: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media (min-width: 960px) {
    .root-container {
        column-gap: 5px;
        padding-inline: 0;
    }
}